<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='/css/Booking.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="complete">
<div class="leftColumn">
    <div class="available">
        <h2>Show Available Rooms</h2>
        <label class="switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>
    <div class="sort">
        <h2>Sort</h2>
        <div class="container">
          <ul>
          <li>
            <input type="radio" id="desc" name="selector">
            <label for="desc">Descending</label>
            <div class="check"></div>
          </li>

          <li>
            <input type="radio" id="asc" name="selector">
            <label for="asc">Ascending</label>
            <div class="check"><div class="inside"></div></div>
          </li>
        </ul>
        </div>
    </div>
        <div class="foodItems">
        <h2>Food Options</h2>
        <div class="container">
          <ul>
          <li>
            <input type="radio" id="none" name="food">
            <label for="none">None</label>
            <div class="check"></div>
          </li>

          <li>
            <input type="radio" id="niveg" name="food">
            <label for="niveg">North Indian Veg</label>
            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input type="radio" id="ninonveg" name="food">
            <label for="ninonveg">North Indian Non-Veg</label>
            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input type="radio" id="si" name="food">
            <label for="si">South Indian</label>
            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input type="radio" id="chin" name="food">
            <label for="chin">Chinese</label>
            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input type="radio" id="italy" name="food">
            <label for="italy">Italian</label>
            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input type="radio" id="kgp" name="food">
            <label for="kgp">KGP Special</label>
            <div class="check"><div class="inside"></div></div>
          </li>
        </ul>
        </div>
    </div>
</div>
<div>
{% for room in rooms %}
{#        <form action = "{{ url_for('room', roomid=room.id) }}" method="POST">#}
{#    <form action = {% urls[loop.index0] %} method="POST">#}
  <div class="row">
    <section class="room">
      <!-- Room Image -->
      <div class="room_img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA32-XWI-cWIRf8n4sjf_1YIQQw4IofqAyIQ&usqp=CAU"/>
      </div>
      <!-- Room Information -->
      <div class="room_information">
        <h2 class="room_information--heading">{{ room.type }}</h2>
        <p>{{ room.description }}</p>
          <div class="availability">
            <h3>Availability: </h3>
            <div class="days">
                <div {% if avail[loop.index0][0]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[0]}}</div>
                <div {% if avail[loop.index0][1]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[1]}}</div>
                <div {% if avail[loop.index0][2]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[2]}}</div>
                <div {% if avail[loop.index0][3]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[3]}}</div>
                <div {% if avail[loop.index0][4]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[4]}}</div>
                <div {% if avail[loop.index0][5]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[5]}}</div>
                <div {% if avail[loop.index0][6]==0 %} class="box green_box" {% else %} class="box red_box" {% endif %}>{{ days[6]}}</div>
            </div>
        </div>
      </div>


      <div class="room_features">
       <ul>
          <li><i class="fa fa-bed"></i>{% if room.ac %} AC {% else %} NON AC {% endif %}</li> <!-- Bath Icon -->
          <li><i class="fa fa-male"></i>{{ room.occupancy }}</li> <!-- People Icon -->
          <li><span class="room_features--price"></span>{{ room.pricePerDay }}<small class="room_features--currency">/-</small></li> <!-- Price -->
        </ul>
        <a href="{{ url_for('room', roomid=room.id) }}" class="room_features--book-btn">Book Now</a> <!-- Book now -->
{#        <input class="button" type="submit" value="BookNow" />#}
      </div>
    </section>
  </div>
{% endfor %}
</div>
</div>

</body>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</html>